/* SERVICE */
.service {
  margin-top: 80px;
  margin-bottom: 110px;
  &__title {
    @include font-size(42px,50px,bold);
    text-transform: uppercase;
    color: $blue;
    text-align: center;
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;

    @media screen and (max-width:767px) {
      flex-wrap: wrap;
    }
  }
}
  /* .service-item:first-child {
    background: red;
  }
  .service-item:nth-child(2n) {
    background: #000;
  }
  .service-item:nth-child(3) {
    background: green;
  }
  .service-item:last-child {
    background: blue;
  } */


@media screen and (min-width:768px) and (max-width:1279px) {
  .service {
    &__title {
      @include font-size(36px,43px,bold);
    }
  }
}

@media screen and (max-width:767px) {
  .service {
    &__title {
      @include font-size(24px,28px,bold);
    }
  }
}