<section class="service container">
    <h2 class="service__title">OUR MOST POPULAR SERVICES</h2>
    <ul class="dots-none service__list">
        @@include('service-card/index.html', {
          "img":"../../static/images/services/service1.jpg",
          "alt":"",
          "title":"Carpet Cleaning",
          "text":"When you choose Chem-Dry, you get deeper clean, faster-drying carpet and healthier home for you.",
          "href":"#"

        })
        @@include('service-card/index.html', {
          "img":"../../static/images/services/service2.jpg",
          "alt":"",
          "title":"Tile & Grout Cleaning",
          "text":"One of the nicest touches to the basic architectural components of a homeis ceramic or stone tile in kitchens, bathrooms",
          "href":"#"

        })
        @@include('service-card/index.html', {
          "img":"../../static/images/services/service3.jpg",
          "alt":"",
          "title":"Pet Stain Removal",
          "text":"Here at Chem-Dry, we love our pets. They brighten up our day and they’re always there to support us, through thick",
          "href":"#"

        })
        @@include('service-card/index.html', {
          "img":"../../static/images/services/service4.jpg",
          "alt":"",
          "title":"Commercial Cleaning",
          "text":"Companies spend millions of dollars on carpeting, upholstery, leather and area rugs",
          "href":"#"

        })
    </ul>
</section>