


.button {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  color:#fff;
  text-decoration: none;
  width: 181px;
  display: block;
  text-align: center;
  padding: 10px;
  border: none;
  background: #008752;
  cursor: pointer;
  &:hover {
    background: #26CD8B;
  }
  &:active {
    background: #005232;
  }
}
.button_secondary {
  background: #95459A;
  &:hover {
    background: #D665DD;
  }
  &:active {
    background: #722A77;
  }
}