.button {
  @include font-size(15px,18px,700);
  text-transform: uppercase;
  color:$white;
  text-decoration: none;
  width: 181px;
  display: block;
  text-align: center;
  padding: 10px;
  border: none;
  background: $primary;
  cursor: pointer;
  transition: background-color $transition;
  &:hover {
    background: $primary-hover;
  }
  &:active {
    background: $primary-active;
  }
}
.button_secondary {
  background: $secondary;
  transition: background-color $transition;
  &:hover {
    background: $secondary-hover;
  }
  &:active {
    background: $secondary-active;
  }
}