


/* BANNER */

.banner {
  /* background: url('../../static/images/fon.jpg') center no-repeat #00559D; */
  background-image: url('../../static/images/fon.jpg');
  background-color: #00559D;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 80px;
  &__wrapper {
    padding-top: 143px;
    padding-bottom: 287px;
  }
  &__title {
    font-weight: 900;
    font-size: 90px;
    line-height: 100%;
    color: #00559D;
    width: 70%;
    margin: 0;
    margin-bottom: 49px;
  }
}

/* ABOUT */

.about {
  display: flex;
  position: relative;
  margin-bottom: 106px;
}

.about-title {
  font-weight: 900;
  font-size: 72px;
  line-height: 100%;
  color: #005DAB;
  margin: 0;
  margin-bottom: 46px;
}

.about-wrapper {
  margin-right: 120px;
  font-size: 30px;
}

.about-img {
  box-shadow: 50px 50px 0 #008752;
}

.about .button {
  margin-top: 20px;
}

@media screen and (max-width:600px) {
  .about {
    flex-wrap: wrap;
  }
  .about-img {
    order: 1;
    margin-bottom: 90px;
  }
  .about-wrapper {
    margin-right: 0;
    order: 2;
    font-size: 18px;
  }
}



/* BRANDS */
.brand {
  margin-bottom: 80px;
  @media screen and (max-width: 1024px) {
    margin-bottom: 60px;
  }
}

.brand-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.brand-list li {
  margin: 20px;
}

@media screen and (max-width: 1024px) {
  .brand {
    margin-bottom: 60px;
  }
  .brand-list {
    justify-content: center;
    margin: 0 -20px;
    
  }
}