


/* BANNER */

.banner {
  /* background: url('../../static/images/fon.jpg') center no-repeat #00559D; */
  background-image: url('../../static/images/fon.jpg');
  background-color: #00559D;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 80px;
  &__wrapper {
    padding-top: 143px;
    padding-bottom: 287px;
  }
  &__title {
    font-weight: 900;
    font-size: 90px;
    line-height: 100%;
    color: #00559D;
    width: 70%;
    margin: 0;
    margin-bottom: 49px;
  }
}

/* ABOUT */

.about {
  display: flex;
  position: relative;
  margin-bottom: 106px;
}

.about:after {
  content: '';
  display: block;
  width: 560px;
  height: 440px;
  background: #008752;
  position: absolute;
  top: 40px;
  right: -60px;
  z-index: -1;
}

.about-title {
  font-weight: 900;
  font-size: 72px;
  line-height: 100%;
  color: #005DAB;
  margin: 0;
  margin-bottom: 46px;
}

.about-wrapper {
  margin-right: 120px;
}

.about .button {
  margin-top: 20px;
}

/* BRANDS */
.brand {
  margin-bottom: 80px;
}

.brand-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}