@import "../../components/vars";
@import "../../components/mixins";

.contact{
    &__title {
        @include font-size(50px,97%,900);
        text-align: center;
        color: $blue;
    }
    &__form {
        max-width: 780px;
        background: $light-smoke;
        margin: 60px auto;
        padding: 50px 100px;
    }
}

@media screen and (min-width:768px) and (max-width:1279px) {
    .contact{
        &__title {
            @include font-size(40px,97%,900);
        }
        &__form {
            padding: 52px 60px;
        }
    }
}
  
  @media screen and (max-width:767px) {
    .contact{
        &__title {
            @include font-size(36px,40px,900);
        }
        &__form {
            padding: 25px 40px;
        }
    }
}