.header {
  display: flex;
  align-items: center;
  padding: 33px 0;
  &__menu {
    margin-top: 0;
    margin-left: 25px;
    margin-bottom: 0;
    margin-right: auto;
  }
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    margin-right: 15px;
  }
  &__link {
    @include font-size(17px,20px,bold);
    color: #333333;
    text-decoration: none;
    &:hover {
      opacity: .8;
    }
  }
  &__phone {
    @include font-size(17px,20px,800);
    text-decoration: none;
    color: $secondary;
    margin-right: 24px;
  }
}

.mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $secondary;
  z-index: 2;
  display: none;
  transform: translateX(-1000px);
  transition: $transition;
  height: 100%;

  &__open {
    transform: translateX(0);
  }

  &__close {
    position: fixed;
    top: 20px;
    right: 10%;
    background: transparent;
    border: none;
  }

  &__container {
    background: $light-smoke;
    box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.25);
    width: 80%;
    height: 100vh;
    padding: 23px 20px 53px;
    display: flex;
    flex-direction: column;
  }

  &__logo {
    max-width: 160px;
    margin-bottom: 52px;
  }

  &__menu {
    margin: 20px 0 auto 0;
  }

  &__item {
    margin-bottom: 24px;
  }
  &__link {
    @extend .header__link;
    @include font-size(20px,24px,bold);
  }
  &__phone {
    @extend .header__phone;
    @include font-size(24px,29px,800);
    margin-bottom: 20px;
    text-align: center;
  }
  .button {
    @include font-size(18px,22px);
    width: 100%;
    padding: 20px;
  }
}

.mobile-header__menu {
  background: transparent;
  border: none;
  display: none;
}

@media screen and (max-width:767px) {
  .header {
    justify-content: space-between;
  }
  .mobile-header {
    display: block;
    &__menu {
      display: block;
    }
  }

  .wrapper .header {
    &__button,
    &__menu {
      display: none;
    }

  }
}