$violet:#333333;

.header {
  display: flex;
  align-items: center;
  padding: 33px 0;
  &__menu {
    margin-top: 0;
    margin-left: 25px;
    margin-bottom: 0;
    margin-right: auto;
  }
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    margin-right: 15px;
    a {
      font-weight: bold;
      font-size: 17px;
      line-height: 20px;
      color: $violet;
      text-decoration: none;
      &:hover {
        opacity: .8;
      }
    }
  }
  &__phone {
    text-decoration: none;
    font-weight: 800;
    font-size: 17px;
    line-height: 20px;
    color: #95459A;
    margin-right: 24px;
  }
}

.mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #95459A90;
  z-index: 2;
  display: none;
  transform: translateX(-1000px);
  transition: .4s;

  &__open {
    // display: block;
    transform: translateX(0);
  }

  &__close {
    position: fixed;
    top: 20px;
    right: 10%;
    background: transparent;
    border: none;
  }

  &__container {
    background: #EEEEEE;
    box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.25);
    width: 80%;
    height: 100vh;
    padding: 23px 20px 53px;
    display: flex;
    flex-direction: column;
  }

  &__logo {
    max-width: 160px;
  }

  &__menu {
    margin: 20px 0 auto 0;
  }

  &__item {

    margin-right: 15px;
    a {
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      color: $violet;
      text-decoration: none;
    }
  }
}

.mobile-header__menu {
  background: transparent;
  border: none;
  display: none;
}

@media screen and (max-width:375px) {
  .mobile-header {
    // display: block;
    &__menu {
      display: block;
    }
  }

  .wrapper .header {
    &__button,
    &__menu {
      display: none;
    }

  }
}