<header class="header container">
  <img src="../../static/images/logo.svg" alt="logo">
  <nav class="header__menu">
      <ul class="dots-none header__list">
          <li class="header__item"><a href="#">Catalog</a></li>
          <li class="header__item"><a href="#">Servises</a></li>
          <li class="header__item"><a href="#">Blog</a></li>
          <li class="header__item"><a href="#">About us</a></li>
      </ul>
  </nav>
  <a href="tel:+87194319698" class="header__phone">719-431-9698</a>
  <a href="contact.html" class="button">Contact Us</a>

</header>