<header class="header container wrapper">
  <img src="../../static/images/logo.svg" alt="logo">
  <nav class="header__menu">
      <ul class="dots-none header__list">
          <li class="header__item"><a href="#">Catalog</a></li>
          <li class="header__item"><a href="#">Servises</a></li>
          <li class="header__item"><a href="#">Blog</a></li>
          <li class="header__item"><a href="#">About us</a></li>
      </ul>
  </nav>
  <a href="tel:+87194319698" class="header__phone">719-431-9698</a>
  <a href="contact.html" class="button header__button">Contact Us</a>
  
  <button class="mobile-header__menu mobile-header__menu_js">
    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4 24H28V21.3333H4V24ZM4 17.3333H28V14.6667H4V17.3333ZM4 8V10.6667H28V8H4Z" fill="#95459A"/>
      </svg>      
  </button>

</header>

<div class="mobile-header">
  <div class="mobile-header__container">
    <img src="../../static/images/logo.svg" alt="logo" class="mobile-header__logo">
    <nav class="mobile-header__menu">
        <ul class="dots-none mobile-header__list">
            <li class="mobile-header__item"><a href="#">Catalog</a></li>
            <li class="mobile-header__item"><a href="#">Servises</a></li>
            <li class="mobile-header__item"><a href="#">Blog</a></li>
            <li class="mobile-header__item"><a href="#">About us</a></li>
        </ul>
    </nav>
    <a href="tel:+87194319698" class="mobile-header__phone">719-431-9698</a>
    <a href="contact.html" class="button">Contact Us</a>
  </div>

  <button class="mobile-header__close mobile-header__close_js">
    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M25.3334 8.5465L23.4534 6.6665L16.0001 14.1198L8.54675 6.6665L6.66675 8.5465L14.1201 15.9998L6.66675 23.4532L8.54675 25.3332L16.0001 17.8798L23.4534 25.3332L25.3334 23.4532L17.8801 15.9998L25.3334 8.5465Z" fill="white"/>
      </svg>      
  </button>
  
</div>