/* MAP */

.map{
  &__wrapper {
    background: $primary;
    -webkit-display: flex;
        -moz-display: flex;
            display: flex;
    -webkit-flex-direction: column;
        -moz-flex-direction: column;
                flex-direction: column;
    max-width: 380px;
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0;
    color: $white;
    /* padding: 50px 44px 26px; */
    padding-top: 50px;
    padding-left: 44px;
    padding-right: 44px;
    padding-bottom: 26px;
  }
  &__title {
    @include font-size(30px,36px,900);
    margin: 0;
  }

  &__phone {
    color: $white;
    margin-bottom: 23px;
    font-weight: 700;
  }
}