<article class="map">
    <div class="container">
        <div class="map-wrapper">
            <h3 class="map-title">Chem-Dry</h3>
            <p>9420 Cedar CT, Thornton, CO 80229</p>
            <a href="#" class="map-phone">(720) 605-9399 </a>
            <a href="#" class="button button-secondary">Learn more</a>
        </div>
    </div>
    
    <iframe class="map-frame" src="https://yandex.ru/map-widget/v1/?um=constructor%3A3cdfcf7b12b7d55deeb99c7df7040d6d3e3c0229235572af722d581c47906e43&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
</article>